.basket {
  width: 36px;
  height: 36px;
}

.icon-basket {
  fill: #ffffff;
}

.basket {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.basket__sum {
  display: none;
}

.empty {
  color: $white;
  font-family: $font-1;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
}

.basket__text {
  color: $white;
  font-family: $font-1;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
}

.empty {
  display: none;
}

.no-empty {
  display: block;
}

.basket___empty-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  font-family: $font-1;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  border-radius: 50%;
  background-color: $color-1;
  left: 18px;
  top: 15px;
  color: $black;
}

.basket__sum {
  font-size: 20px;
  padding-left: 10px;
  padding-top: 15px;
  margin-bottom: 0;
}

@media (min-width: $big-mobile) {
  .basket__sum {
    display: inherit;
    font-size: 16px;
    padding-left: 0;
    padding-top: 17px;
  }
}


@media (min-width: $tablet) {
  .basket {
    padding-left: 10px;
    padding-top: 15px;
  }

  .basket___empty-icon {
    width: 15px;
    height: 15px;
    left: 35px;
    padding-top: 1px;
  }

  .basket__text {
    font-size: 12px;
  }

  .basket__sum {
    font-size: 20px;
  }
}

@media (min-width: $big-desktop) {
  .basket {
    padding-top: 20px;
  }
}
