.conntect {
  max-width: 515px;
}

.connect__title {
  padding: 0;
  margin: 0;
  font-family: $font-1;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: $font-color-1;
}

.contect__subtitle {
  padding: 0;
  margin: 0;
  font-family: $font-1;
  font-size: 6px;
  line-height: 20px;
  font-weight: 400;
  color: $font-color-1;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.connect__form-item {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ffffff;
  display: flex;
  max-width: 270px;
}

.connect__form-input {
  font-family: $font;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: $font-color-1;
  background-color: transparent;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  width: 90%;
}

.connect__form-btn {
  padding: 0;
  margin: 0;
  width: 8%;
  height: 20px;
  background-image: url("../img/icon-arrow.svg");
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.connect__form-input::placeholder {
  font-family: $font;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: $font-color-1;
}

.conntect__consent {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6px;
  line-height: 100%;
  font-weight: 300;
  color: $font-color-1;
}

.conntect__consent-link {
  font-family: $font;
  font-size: 6px;
  line-height: 100%;
  font-weight: 300;
  color: $font-color-1;
  text-decoration: underline;
}


@media (min-width: $big-mobile) {
  .contect__subtitle {
    font-size: 8px;
  }

  .conntect__consent {
    font-size: 9px;
  }
}

@media (min-width: $tablet) {
  .conntect {
    max-width: 100%;
  }

  .connect__title {
    font-size: 30px;
    line-height: 1.2;
  }

  .contect__subtitle {
    font-size: 12px;
  }

  .conntect__consent {
    font-size: 11px;
  }

  .conntect__consent-link {
    font-size: 11px;
  }
}
