.footer {
  background-color: #7f7f7f;
  z-index: 11;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

@media (min-width: $big-mobile) {
  .page__bottom {
    .footer__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

@media (min-width: $tablet) {
  .footer {
    margin-top: auto;
  }

  .footer__wrap {
    display: flex;
  }
}

@media (min-width: $desktop) {

  .page__bottom {
    .footer {
      padding-left: 0;
    }
  }
}
