.header {
  padding-top: 12px;
  position: relative;
  z-index: 10;
}

.header__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "two one three four";
}

.One { grid-area: One; }

.two { grid-area: two; }

.three { grid-area: three; }

.four { grid-area: four; }


.header__nav {
  position: relative;
}

.header__logo-container {
  background-image: url("../img/logo-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 85px;
  padding-top: 0;

  svg {
    width: 95px;
    height: auto;
    display: block;
    margin-top: 15px;
    margin-left: 20px;
  }
}


.header__phone-icon {
  svg {
    fill: #ffffff;
  }
}

.header__phone {
  font-family: $font-1;
  color: #ffffff;
  padding: 0;
  margin: 0;
  display: none;
}

.header__phone-link {
  font-family: $font-1;
  color: #ffffff;
}

.header__button {
  display: block;
  padding: 0;
  margin: 0;
  width: 36px;
  height: 36px;
  cursor: pointer;
  position: relative;
  z-index: 10;

  svg {
    fill: #ffffff;
  }

  &--close {
    position: relative;

    svg {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 100%;
      transform: rotate(45deg);
      background-color: #dddddd;
      top: 0;
      left: 16px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 100%;
      transform: rotate(-45deg);
      background-color: #dddddd;
      top: 0;
      left: 16px;
    }
  }
}


.line-burger {
  fill: #ffffff;
}

.header__icon {
  width: 30px;
  height: 30px;
}

.header__block {
  padding-top: 10px;
}

.header__logo-container {
  padding-top: 0;
}

@media (min-width: $big-mobile) {
  .header__wrapper {
    grid-template-columns: 0.9fr 2fr 0.6fr 0.5fr;
  }

  .header__logo-container {
    margin-left: auto;
    margin-right: auto;
  }
}


@media (min-width: $tablet) {
  .header__wrapper {
    display: grid;
    grid-template-columns: 0.7fr 1.2fr 1.3fr 0.5fr 1fr 1.3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "one two two three four four";
  }

  .one { grid-area: one; }

  .two { grid-area: two; }

  .three { grid-area: three; }

  .four { grid-area: four; }

  .header__phone-icon {
    display: none;
  }

  .header__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-left: 20px;
  }

  .header__phone {
    display: block;
    font-family: $font-1;
    font-size: 26px;
    line-height: 1.2;
    display: flex;
  }

  .header__phone-link {
    padding-left: 5px;

    &:hover {
      color: $color-1;
      text-decoration: none;
    }
  }

  .header__button {
    display: none;
  }

  .header__icon {
    width: 36px;
    height: 36px;
  }
}

@media (min-width: $desktop) {
  // .header__wrapper {
  //   grid-template-areas: "one . three four four four" "two two two two two two";
  // }
}

@media (min-width: $big-desktop) {
  .header__wrapper {
    grid-template-columns: 0.7fr 1.2fr 1.3fr 0.5fr 1fr 1.3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "one two two three four four";
  }

  .header__contacts {
    padding-left: 0;
  }


  .header__logo-container {
    width: 170px;
    height: 95px;

    svg {
      width: 95px;
      margin-left: 25px;
      margin-top: 20px;
    }
  }

  .header__nav {
    padding-top: 0;
  }

}
