.product {
  background-color: $color-4;
  margin-bottom: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.product__wrap {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 25px;
  padding-bottom: 20px;
}

.product__name {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 18px;
  line-height: 20px;
  color: $color-5;
  padding-bottom: 3px;
}

.product__type {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 14px;
  line-height: 20px;
  color: $color-5;
  padding-bottom: 10px;
}

.product__cost-container {
  display: flex;
  justify-content: space-between;
}

.product__cost {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 24px;
  line-height: 28px;
  color: $color-5;
}

.product__link-basket {
  width: 33px;
  height: 33px;
  background-image: url("../img/icon-basket--dark.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: all, 0.3s;
  position: relative;
}

.product__link-basket:hover {
  animation: heart 2s infinite;
}


@media (min-width: $big-mobile) {
  .product {
    width: 45%;
    max-width: 300px;
  }

  .product__img-container {
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (min-width: $big-mobile) {
  .product {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: $tablet) {
  .product {
    margin-left: 1.5%;
    width: 30%;
    margin-right: 1.5%;
  }
}

@keyframes heart {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.0);
  }

  75% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(254, 237, 0, 0.4);
  }
  70% {
      box-shadow: 0 0 0 10px rgba(254, 237, 0, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(254, 237, 0, 0);
  }
}
